.footer-home {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
}


p{
    margin: 0;
    
}

.footer-home a{
    text-decoration: none;
}

