<div class="row"> 

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>


    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>

    <a href="" class="col-m-6 col-s-6 product-box">
        <img src="" alt="" >
        <h3></h3>
    </a>
    

    
</div>