<img src="ruta" alt="" width="200px ">

<div id="div_logo">
    <img id="logo" src="../img/iconos/Johan.dev.png" alt="" width="150px">
</div>

<div class=" tab-container">
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'tab1')">Ingresar</button>
        <button class="tab-button" onclick="openTab(event, 'tab2')">Registrarse</button>
    </div>
    <div id="tab1" class="tab-content active">
        <section>
            <h4 class="titles">Usuario</h4>
            <input type="text" class="input-menu">
            <h4 class="titles">Contraseña</h4>
            <input type="password" class="input-menu">
            <button type="submit" id="registo-button">Ingresar</button>
        </section>
    </div>
    <div id="tab2" class="tab-content">
        <section>
            <h4 class="titles">Usuario</h4>
            <input type="text" class="input-menu">
            <h4 class="titles">Contraseña</h4>
            <input type="password" class="input-menu">
            <button type="submit" id="registo-button">Registrarse</button>
        </section>
    </div>
</div>


<br>

<section class="section-menu">
    <h3 class="titles" id="main-title"><ins>Contacto</ins></h3>
    <h4 class="titles">Email</h4>
    <p id="email">johandev.cr@gmail.com</p>
    <h4 class="titles">Consulta</h4>
    <form action="#">
        <textarea rows="5" class="col-m-12 col-s-6" disabled></textarea>
        <button type="submit" disabled>Enviar</button>
    </form>
</section>

<br>

<section class="section-menu">
    <h3 class="titles" id="main-title"><ins>Frase del día</ins></h3>
    <p id="quote">
        "A veces, lo más pequeño ocupa el mayor espacio en tu corazón."
    </p>
</section>

