<div class="programs">
    <div>
        <a href="../partials/SanValentín/index.html"><img src="../img/SanValentin/Programa1.jpg" id="aceptar" alt="" ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/Te quiero/Te quiero-cel.html"><img src="../img/SanValentin/Programa2.jpeg" id="aceptar" alt="Te quiero"  ></a>
        <h3>$5.72 (Teléfono)</h3>
    </div>

    <div>
        <a href="../partials/Te quiero/Te quiero-PC.html"><img src="../img/SanValentin/Programa2.jpeg" id="aceptar" alt=""  ></a>
        <h3>$5.72 (PC)</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>
    
    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>

    <div>
        <a href="../partials/SanValentín/index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mPm-kxBKYX0-3pgrsnM_WvtJ5yGntMFfiA&s" id="aceptar" alt=""  ></a>
        <h3>$5.72</h3>
    </div>
</div>
    